.categoryheader
{
	padding: -10px;
	margin: -20px;
	box-sizing: border-box;
	background-color: rgb(25, 125, 75);/*rgb(50, 150, 100);*/
	width: calc(100% + 40px);
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	/*box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
	text-align: center;
	color: white;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
	/*text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);*/
}

.fullwrapper
{
	display: inline-grid;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

#reg_form
{
	
}

.hidden
{
	display: none;
}
.accauntwrapper
{
	display: inline-grid;
	width: ;
	box-sizing: border-box;
	padding: 10px;
	text-align: ;
}
.accauntwrapper.hidden
{
	display: none;
	width: ;
	box-sizing: border-box;
	padding: 10px;
	text-align: ;
}
.accauntpanel
{
	padding: 20px;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-size: 18px;
}
.loginform
{
	text-align: left;
	padding-bottom: 0px;
	padding-top: 20px;
}
.loginform > input
{
	font-size: 18px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	border: 3px solid rgb(150, 150, 150);
	outline: ;
	border-radius: 3px;
}
	
.loginform > input:hover
{
	box-shadow: 0 0 5px rgb(25, 125, 75);
	border-radius: 3px;
}
.loginform > input:focus
{
	border: 3px solid rgb(25, 125, 75);
	border-radius: 3px;
	outline: none;
}

.accauntpanel > table
{
	padding: 0;
	width: 50%;
	text-align: left;
}

.accauntpanel > input
{
	font-size: 18px;
}

.buybutton
{
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	background-color: rgb(25, 125, 75);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	margin-top: 20px;
	user-select: none;
	transition: 0.2s;
}

.buybutton:hover
{
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.85);
	background-color: rgb(25, 125, 75)
}

.buybutton:active
{
	transform: translateY(2px);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}

